<section class="card topic-card">
  <a href="/topic/{{id}}">
    <header>{{name}}</header>
    
    <div class="card-body">
      <img src="/images/{{logo}}" alt="{{description}}" width="200" height="200">
    <p> {{info}} </p>
    </div>
  </a>
</section>