<section class="card">
  <a href="/subject/{{id}}">
    <header>{{title}} {{definition}} {{example}}</header>
    

    <div class="card-body">
      {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}
      {{!-- <p>{{title}}</p> --}}
      <p>{{definition}}</p>
      <p>{{example}}</p>
    </div>
  </a>
</section>

{{!-- only header showing --}}