{{#if loggedIn}}
<section class="subject">
  {{!-- <img src="/images/{{painting.filename}}" alt="{{painting.description}}"> --}}
  <div class="subject-details">
   <h3>{{subject.title}}</h3>
   <p>{{subject.definition}}</p>
   <p>{{subject.example}}</p>
</section>
{{else}}
<a href="/login">Please login to view the content</a>
{{/if}}

{{!-- somehow this is not showing on the page, still need to fix it --}}