{{!-- {{#if loggedIn}} --}}
<section class="painting">
  <img src="/public/images/{{subject.filename}}" alt="{{subject.description}}">
  <div class="painting-details">
    <h3>{{subject.title}}</h3>
    <p>By: {{subject.artist}}</p>
    <p>Exhibition open until: {{ format_date subject.exhibition_date}}</p>
  </div>
</section>
{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}